<!DOCTYPE html>
<html lang="en-us" data-bs-theme="dark">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ '/css/bsdark.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}" />
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
    {% seo %} {% feed_meta %} 
  </head>
  <body class="container">
    {% if page.homepage %}
      <h1 class="page-title">{{ site.name }}</h1>
      <h5>{{ site.tagline }}</h5>
      <p class="navlinks">
        <a href="/about/">About</a> | <a href="/feed.xml" target="_blank">RSS</a>
      </p>
    {% else %}
      <p class="navlinks"><a href="/" class="text-decoration-none">← Back</a></p>
    {% endif %}
    <div class="body">{{ content }}</div>
  </body>
</html>
